:root {
  --vp-c-brand: #008efd !important;

  --vp-button-brand-active-border: #008efd !important;


  --vp-button-brand-bg:  #008efd !important;
  --vp-button-brand-border:  #008efd !important;
  --vp-button-brand-hover-bg:  #008efd !important;
  --vp-button-brand-hover-border:  #008efd !important;
}